@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}


/*-----------------------------------------------dropdown*/

.dropdown {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    list-style: none;
    background-color: #dae2e5;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdownLink {
    width: 100%;
    text-decoration: none;
    display: block;
    background-color: #dae2e5;
    border-bottom: 1px solid #c3cfd5;
    padding: 10px 5px;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdownLink span {
    font-family: "Roboto", sans-serif;
    display: block;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}


.item-color {
    background-color: #263238;
    opacity: 0.9;
}


.dropdownItem {

    transition-duration: 1s;
    transition-timing-function: easy-in-out;
}

.dropdownItem:hover {
    transform: scale(1.05);

}

/*-----------------------------------------------Header*/

.header {
    padding: 0px;
    background-color: #515a5f;
    font-family: "Exo", sans-serif;
}


.title {
    color: #fafafa;
    font-size: 16px;
    margin: 0;
}

.title span {
    text-transform: uppercase;
    font-weight: 300;
}

.title h1 {
    font-weight: 300;
    color: #fafafa;
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 0;
}


/*-----------------------------------------------Nav-Menu*/

.menu {
    position: relative;
}

.nav-menu {

    list-style: none;
    margin-top: 0;
}


.menuitem {

    text-decoration: none;
    height: 50px;
    text-align: left;
    padding: 0;
    border-bottom: 2px solid #37474F;
}

.menuitem a {
    text-decoration: none;
    color: #fafafa;

}

.menuitem span {
    font-family: "Roboto", sans-serif;
    display: block;
    width: 100%;
    padding: 15px 15px;
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.menu-toggle {
    position: absolute;
    top: -1.5em;
    right: 2px;
    border: 0;
    background-color: transparent;
    font-size: 35px;
    width: 1em;
    height: 1em;
    line-height: 0.4em;
    text-indent: 5em;
    white-space: nowrap;
    overflow: hidden;
}

.menu-toggle::after {
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    display: block;
    content: "\2261";
    text-indent: 0;


}

button {
    color: #2BBBAD;
    padding: 0;

}

.menu-dropdown {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 0px;


}

.menu.is-open .menu-dropdown {
    display: block;

}

/*-----------------------------------------------Media-Header*/

@media (min-width: 768px) {
    .title>h1 {
        font-size: 2.25em;
    }
}

@media (min-width: 560px) {
    .header>h1 {
        padding: 1em;
    }
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }

    .menu-dropdown {
        display: block;
        position: static;
    }
}

@media (min-width: 768px) {
    .nav-menu {
        display: flex;
        border: 0;
        padding: 0;
        margin: 0;
    }

}

@media (min-width: 768px) {
    .menuitem {
        flex: 1;
        border-right: 1px #515a5f solid;
        border-radius: 5px;

    }
    .nav-menu>div {
        flex: 1;

    }

    .menuitem span {
        text-align: center;
        padding: 15px 15px;
        font-weight: 500;

    }

    .menuitem a {
        text-align: center;

        font-weight: 500;
        padding: 0;
        display: block;

    }
}


@media (min-width: 768px) {

    .home-button :hover {
        color: #2BBBAD;


    }
    .bigBang-button :hover {
        color: #4285F4;
    }
    .sun-button :hover {
        color: #ffff00;
    }
    .planets-button:hover {
        color: #00C851;
    }
    .moon-button :hover {
        color: #ffb300;
    }
    .discoverires-button:hover {
        color: rgba(205, 220, 57, 0.7);
    }
    .gallery-button :hover {
        color: rgba(0, 188, 212, 0.7);
    }

    .menuitem {

        transition-duration: 1s;
        transition-timing-function: easy-in-out;
    }

    .menuitem:hover {
        transform: scale(1.05);

    }
}

@media (max-width: 767px) {
    .dropdown:hover .dropdown-content {
        display: none;
    }

    .dropdown {
        display: block;
        margin: 0;
        padding: 0;
    }

    .dropdown .planets-button span {
        width: 100%;
        text-align: left;
        padding-left: 15px 15px;
        font-weight: 400;
    }
}


/*-----------------------------------------------Footer*/

footer {
    display: block;
    background-color: #515a5f;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}


.general-sub {
    font-family: "Exo", sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #fafafa;
    margin: 0px
}


.section-media {
    width: 100%;
    float: center;
    padding-top: 15px;
    margin-right: 0;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}


.uppercase {
    text-transform: uppercase;
}



.inline-block {
    display: inline-block;
}

.social-links {
    display: block;
    text-align: center;
    list-style: none;
    padding: 10px 5px;
    margin: 0;
}

.list-item {
    margin: 2px 0;
    width: 100px;
    height: 90px;
    padding: 5px 5px;
    display: inline-table;
    background-color: #fafafa;
    opacity: 0.8;
}

.facebook-icon {
    background-color: #3C5A99;
}

.facebook-text {
    color: #3C5A99;
}

.twitter-icon {
    background-color: #1DA1F2;
}

.twitter-text {
    color: #1DA1F2;
}

.insta-icon {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.insta-text {
    color: #c13584;
}

.youtube-icon {
    background-color: #ff0000;
}

.youtube-text {
    color: #ff0000;
}

.list-item p {
    font-family: Roboto, sans-serif;
    color: #515a5f;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.list-item span {
    text-transform: uppercase;
    font-weight: bolder;
}

.list-item i {
    width: 36px;
    height: 36px;
    padding: 14px 0;
    margin-top: 12px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.list-item {

    transition-duration: 1s;
    transition-timing-function: easy-in-out;
}

.list-item:hover {
    transform: scale(1.05);

}

/*-----------------------------------------------HomePage*/

.container {
    display: flex;
    background-image: radial-gradient(circle, #03031a, #06071e, #070b23, #080e27, #07112c, #06112d, #06122d, #05122e, #05102b, #040e27, #030b24, #020821);
    min-height: 800px;
}

.container>*+* {
    margin-top: 0;
    margin-left: 0px;
}

.column-main {
    flex: 2;
}

.column-sidebar {
    flex: 1;
}


/*--------------------------------------------column-main */

.column-sidebar {
    font-family: "Roboto", sans-serif;
    background-color: transparent;
    text-align: justify;
    padding: 10px 20px;

}

.column-sidebar h2 {

    Font-family: "Exo", sans-serif;
    text-align: center;
    font-weight: 400;
    color: #FFD700;
}

.column-sidebar i {
    padding-right: 15px;
}

.column-sidebar p {
    font-size: 16px;
    color: #fafafa;
}

.column-main {
    font: Arial, sans-serif;
    color: #fff;
    background-attachment: fixed;
    background-repeat: no-repeat;


}

.solar {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 300px;
    margin-left: -300px;
}

.sun {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(ellipse at center, #ffd000 1%, #f9b700 39%, #f9b700 39%, #e06317 100%);
    box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4), 0 0 22px 11px rgba(255, 203, 0, 0.13);
}


.mercury-orbit {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -35px;
    margin-left: -35px;
    border: 1px rgba(219, 219, 219, 0.15) solid;
    animation: spin 7s infinite linear;
}

.mercury {
    height: 4px;
    width: 4px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -25px;
    margin-left: -25px;
    background: #b34700;
}

.venus-orbit {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -50px;
    margin-left: -50px;
    border: 1px rgba(219, 219, 219, 0.15) solid;
    animation: spin 18s infinite linear;
}

.venus {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -36px;
    margin-left: -36px;
    background: #cc9966;
}

.earth-orbit {
    height: 145px;
    width: 145px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -72px;
    margin-left: -72px;
    border: 1px rgba(219, 219, 219, 0.15) solid;
    animation: spin 30s infinite linear;
}

.earth {
    height: 6px;
    width: 6px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -52px;
    margin-left: -52px;
    background: linear-gradient(#051937, #12EB8D);
}

.moon-orbit {
    height: 18px;
    width: 18px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -61px;
    margin-left: -61px;
    border: 1px rgba(219, 219, 219, 0.0) solid;
    animation: spin 2s infinite linear;
}

.moon {
    height: 3px;
    width: 3px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -8px;
    margin-left: -8px;
    background: grey;
    animation: spin 1s infinite linear;
}

.mars-orbit {
    height: 190px;
    width: 190px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -95px;
    margin-left: -95px;
    border: 1px rgba(219, 219, 219, 0.15) solid;
    animation: spin 54s infinite linear;
}

.mars {
    height: 6px;
    width: 6px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -67px;
    margin-left: -67px;
    background: linear-gradient(#f85032, #e73827);
}


.jupiter-orbit {
    height: 340px;
    width: 340px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -170px;
    margin-left: -170px;
    border: 1px rgba(219, 219, 219, 0.15) solid;
    animation: spin 360s infinite linear;
}



.jupiter {
    height: 18px;
    width: 18px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -120px;
    margin-left: -120px;
    background: linear-gradient(#ffd89b, #19547b);
}

.saturn-orbit {
    height: 440px;
    width: 440px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -220px;
    margin-left: -220px;
    border: 1px rgba(219, 219, 219, 0.15) solid;
    animation: spin 900s infinite linear;
}

.saturn {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -155px;
    margin-left: -155px;
    background: linear-gradient(#947429, #BEA83F);
}

.uranus-orbit {
    height: 520px;
    width: 520px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -260px;
    margin-left: -260px;
    border: 1px rgba(219, 219, 219, 0.15) solid;
    animation: spin 2520s infinite linear;
}

.uranus {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -185px;
    margin-left: -185px;
    background: linear-gradient(#093B7C, #0A6096);
}

.neptune-orbit {
    height: 630px;
    width: 630px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -315px;
    margin-left: -315px;
    border: 1px rgba(219, 219, 219, 0.15) solid;
    animation: spin 4950s infinite linear;
}

.neptune {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -223px;
    margin-left: -223px;
    background: linear-gradient(#0F59B9, #28C2D1);
}

.pluto-orbit {
    height: 780px;
    width: 780px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -430px;
    margin-left: -300px;
    border: 1px rgba(219, 219, 219, 0.15) solid;
    animation: spin 7440s infinite linear;
}

.pluto {
    height: 3px;
    width: 3px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -275px;
    margin-left: -275px;
    background: red;
}



@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

/*----------------------------------------------- Media HomePage*/

@media (max-width:768px) {
    .container {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .column-main {
        flex-grow: 1;

    }
    .solar {
        display: none;
    }
    .column-sidebar p:first-of-type {
        display: none;

    }
    .column-main img {
        width: 100%;
        height: auto;
        background-size: contain;
        background-attachment: scroll;

    }
}

@media (min-width:769px) {
    .column-main img {
        display: none;
    }
}

/*----------------------------------------------- Big Bang Theory*/

.row {
    font-family: "Roboto", sans-serif;
    background-color: #fafafa;
    font-weight: 400;
    color: #525252;
}

.bb-photo {
    float: left;
    width: 50%;
    margin-bottom: 50px;
}

.bb-photo img {
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.bb-text {
    float: left;
    width: 50%;
    margin-bottom: 15px;

}

.bb-text h2 {
    font-family: "Exo", sans-serif;
    color: #e67e22;
    text-align: center;
    margin-top: 150px;

}

.bb-text p {
    padding-right: 15px;
    font-size: 25px;
    text-align: center;
    font-weight: 500;

}


.bbTheory-photo {
    display: block;
    padding: 1.5em;
}

.bbTheory-photo img {
    width: 100%;
    height: auto;
    background-image: radial-gradient(circle, #03031a, #06071e, #070b23, #080e27, #07112c, #06112d, #06122d, #05122e, #05102b, #040e27, #030b24, #020821);
    max-height: 650px;
    margin-left: auto;
    margin-right: auto;

}

.bbt-heading {
    display: block;
    font-family: "Exo", sans-serif;
    text-align: center;
    color: #e67e22;
}


.timeline-item {
    padding: 15px 15px;
    position: relative;
    color: #515a5f;
    border-left: 2px solid;
    margin-left: 50px;
}

.timeline-item p {
    padding: 0;
    margin: 0 0 0 15px;
}

.timeline-item h4 {
    color: #e67e22;
    ;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -7px;
    border-radius: 12px;
    content: '';
    background: #515a5f;
}

.history-items {
    background-color: #fafafa;
    margin-bottom: 30px;
}

/*---------------------------------------------Media BigBAng*/

@media (max-width: 767px) {
    .bb-text h2 {
        margin-top: 20px;

    }
    .bb-text p {
        font-size: 16px;
    }

    .bb-photo img {
        margin-top: 50px;

    }
}

/*---------------------------------------------Section Sun*/

.section-sun {

    margin-top: 20px;
}

.flex {
    display: flex;

}

.flex>*+* {
    margin-top: 0;

}

.column-left {
    flex: 1;
    border-right: 1px solid #dcdedf;
}

.column-right {
    flex: 1;
}

.flex h2 {
    font-family: "Exo", sans-serif;
    text-align: center;
    color: #F9D71C;
    font-size: 35px;
    margin: 20px 0 0 0;
}

.flex p {
    font-family: "Roboto", sans-serif;
    color: #515a5f;
    padding: 15px 15px;
    margin: 0;
    text-align: justify;
}

.sun-photo {
    display: block;
    width: 80%;
    margin: 10px auto;
}

.sun-photo img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.about-sun {
    padding: 15px 15px;
}

.about-sun h2 {
    margin-top: 0;
    font-family: "Exo", sans-serif;
    color: #F9D71C;
    font-size: 25px;

}

.about-sun p {
    font-family: "Roboto", sans-serif;
    color: #515a5f;
    text-align: justify;
}

.history {
    margin: 0 10px 5px 0;
    float: left;
}

.layers {
    margin: 0 0 5px 10px;
    float: right;
    width: 220px;
    height: 215px;
}

.layers img {
    width: 100%;
    height: auto;
}

/*---------------------------------------------Section Planets*/

.planets-grid {
    background-color: rgba(81, 90, 95, 0.2);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    max-width: 960px;
    margin: 50px auto 30px;
    padding: 25px 25px;
}

.featured {
    position: relative;
}


.planets-grid img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.planets-grid figcaption {
    padding: 0.3em 0.8em;
    background-color: #515a5f;
    color: #fafafa;
    text-align: center;
}

.style {
    margin: 0;
    background-color: #fafafa;
    -webkit-box-shadow: -3px 1px 32px -3px rgba(81, 90, 95, 0.98);
    -moz-box-shadow: -3px 1px 32px -3px rgba(81, 90, 95, 0.98);
    box-shadow: -3px 1px 32px -3px rgba(81, 90, 95, 0.98);

    -webkit-box-shadow: inset -3px 1px 26px -6px rgba(81, 90, 95, 0.98);
    -moz-box-shadow: inset -3px 1px 26px -6px rgba(81, 90, 95, 0.98);
    box-shadow: inset -3px 1px 26px -6px rgba(81, 90, 95, 0.98);

}

.style h4 {
    margin: 0;
    Font-size: 40px;
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    background: #fafafa;
    background: -webkit-linear-gradient( left, #00ffff 0%, #97fba0 25%, #97b1fb 50%, #00ffff 100%) repeat;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;

}

.style p {
    padding: 0 10px 0 10px;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #515a5f;
    text-align: center;
}

.featured {
    transition-duration: 1s;
    transition-timing-function: easy-in;
}

.featured:hover {
    transform: scale(1.1);

}

@media (max-width: 768px) {
    .planets-grid {
        margin: 0;
    }

    .planet-text {
        display: none;
    }
}

@media (min-width: 769px) {
    .planet-text-small {
        display: none;
    }
}

/*-------------------------------------Planet separate pages*/

.wrap {
    display: flex;
    min-height: 500px;
}

.wrap>*+* {
    margin-top: 0;
    margin-left: 0px;
}

.section-img {
    flex: 1;
    background-color: rgba(81, 90, 95, 0.2);

}

.section-text {
    flex: 2;
    padding: 15px 40px;

}

.wrap-img {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
}

.section-img img {
    object-fit: cover;
    width: 100%;
}

.section-text h2 {
    font-family: "Exo", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #88028A;
    letter-spacing: 2px;
}

.section-text p {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-align: justify;
    color: #515a5f;
}

@media (max-width:767px) {
    .wrap {
        flex-wrap: wrap;
        flex-direction: column;
    }

}


/*--------------------------------------------Gallery*/

.wrapp {
    background-image: radial-gradient(circle, #03031a, #06071e, #070b23, #080e27, #07112c, #06112d, #06122d, #05122e, #05102b, #040e27, #030b24, #020821);
}

.gallery-container {
    max-width: 1330px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 0.6em;
    grid-auto-flow: dense;
    margin: 0px auto 0px;

    padding: 20px 20px;

}

.gallery-container>div {
    margin: 0;
    display: flex;
    flex-direction: column;


}

.gallery-container img {
    max-width: 100%;
    flex: 1;
}

.gallery-container p {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.0);
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: "Exo" sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
}


.gallery-container .big {

    grid-row: span 2;
    grid-column: span 2;
}

.frame {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

/*----------------------------------------------Media Gallery*/

@media (max-width: 767px) {
    .gallery-container .big {
        grid-row: span 1;
        grid-column: span 1;
    }

    .gallery-container>div {
        margin: 0 2px;

    }
    .gallery-container img {
        height: auto;

    }
    .gallery-container {
        grid-gap: 0.3em;
        margin: 0 0.3em 0px 0.3em;
        padding: 0.3em 0 0.3em 0;
    }

}

/*----------------------------------------------Section Moon*/

.section-background {
    background: url("https://wallpapercave.com/wp/wp3021612.jpg") no-repeat fixed center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.module h2 {
    font-family: "Exo", sans-serif;
    font-size: 2em;
    text-align: center;
    color: #0d47a1;
    display: block;
    margin: 0;
    padding-top: 1em;
}

.columns-wrap {
    display: flex;
    padding: 1.5em 0;

}

.left-column {
    flex: 66%;
    margin: 0 0.3em 20em 1em;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.3);
}


.right-colunm {
    flex: 33%;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin: 0 1em 0 1em;

}

.right-colunm ul {
    list-style: none;
    padding: 0 1em 0 1em;
}

.right-colunm span {
    text-transform: uppercase;
    font-weight: bold;
}

.right-colunm li {
    font-size: 0.7em;
    margin-bottom: 1em;
    text-align: justify;
}

.columns-wrap h4 {
    color: #264b82;
    font-family: "Exo", sans-serif;
    text-align: center;
    font-size: 1.5em;
    margin: 1em 0.5em;
}

.columns-wrap p {
    font-family: "Roboto", sans-serif;
    text-align: justify;
    padding: 0 1.5em 0 1.5em;
}

/*------------------------------------------------------Media Moon*/

@media (max-width:767px) {
    .columns-wrap {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .left-column {
        margin: 1em 1em;
    }

}



/*---------------------------------------------------Discoveries*/

.disc-background {
    background: url("http://www.collectspace.com/images/news-011717a-lg.jpg") no-repeat fixed center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.disc-container {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 40em;
    margin: 0 auto;
    padding:0 2em;
}

.dics-wrap {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1.2em;
    position: relative;
    margin: 1.5em 2em;
    border-radius: 0.4em;
}


.dics-wrap.arrow-right:after {
    content: " ";
    position: absolute;
    right: -0.7em;
    top: 2em;
    border-top: 0.7em  solid transparent;
    border-right: none;
    border-left: 0.7em  solid rgba(255, 255, 255, 0.8);
    border-bottom: 0.7em solid transparent;
}

.dics-wrap.arrow-left:after {
    content: " ";
    position: absolute;
    left: -0.7em;
    top: 2em;
    border-top: 0.7em solid transparent;
    border-right: 0.7em  solid rgba(255, 255, 255, 0.8);
    border-left: none;
    border-bottom: 0.7em  solid transparent;
}

.disc-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.year {
    flex: 1;
    font-family:"Exo", sans-serif;
    color: #e67e22;
    margin:0;
}

.disc{
    flex: 1;
    color: black;
    font-family:"Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin:0;
    padding-right:2em;
    text-align:justify;
}

.video {
    margin:0 auto;
    background-color: rgba(255, 255, 255, 0.8) ;
    padding: 0.2em;
    border-radius: 0.1em;
}

/*---------------------------------------------------Media Discoveries*/
@media (max-width: 767px) {
    iframe {
        width:100%;
        height:auto;
    }
}
















